.menu {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #171E51;
    height: 3vh; /* 화면 높이의 8%로 조정 */
    min-height: 50px; /* 너무 작아지지 않도록 최소 높이 설정 */
    max-height: 80px; /* 너무 커지지 않도록 최대 높이 설정 */
    width: 100%;
    padding: 1vw; /* 화면 너비 기준으로 패딩 설정 */
    box-sizing: border-box;
}

.menu h1 {
    margin-right: 1vw;
    margin-left: 0.3vw;
    font-size: 1.3rem; /* 텍스트 크기도 반응형 */
    color: white;
}